torch==1.13.1
torchvision==0.14.1
numpy==1.24.4
pandas==1.5.3
scipy==1.10.1
opencv-python==4.10.0.84
Pillow==9.5.0
PyYAML==6.0.2
easydict==1.13
Cython==0.29.37
pycocotools==2.0.7
jpeg4py==0.1.4
timm==0.5.4
tensorboard==2.13.0
lmdb==1.4.1
visdom==0.2.4
tqdm==4.67.1
matplotlib==3.7.5
